@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: rgb(255, 255, 255);
  border: solid 1px white;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(11px, 1.5vw, 1.5rem);
  font-weight: 500;
  min-width: 500px;
  color: rgb(81, 149, 238);
  color-scheme: light;
  background-color: #f0f0f0;
}

button {
  background-color: rgb(52, 158, 219);
  border-radius: 10px;
  align-items: center;
  padding: 6px 0;
  color: rgb(255, 255, 255);
}

button:hover {
  scale: 1.02;
  filter: brightness(1.75);
  transition-delay: 0.2s;
  transition: 0.1s;
}
/* button:focus {
  border: solid 5px #fff;
} */
/* a{
    color: white;
} */
/* * {
  border: solid red 1px;
} */
